{
    "env": {
        "browser": true,
        "commonjs": true,
        "es2021": true
    },
    "extends": "airbnb-base",
    "parserOptions": {
        "ecmaVersion": "latest"
    },
    "ignorePatterns": ["*.test.js"],
    "rules": {
      "no-underscore-dangle": ["error", { "allow": ["_id"]}],
      "no-console": "off"
    }
}
